<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>作品详情</title>
	<meta name="keywords" content="约发">
	<meta name="description" content="约发">
	
	<!-- 浏览器配置 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp"/>

	<!-- 样式和图标引入 -->
	<link rel="stylesheet" href="__CSS__/style/style.css">
</head>
<body>
	<header class="headbar">
		<a href="" onclick="javascript:history.go(-1)">返回</a>
		<h3>{:$barber['name']}的作品</h3>
	</header>

	<nav class="booknow">
		<p>已有{:$ordernum}人预约</p>
		<a href="{:U('Yuefa/Index/Sure')}?bid={:$bid}" id="bookbutton">立即预约</a>
	</nav>

	<section class="bigworksshow">
		<img class="bigheadpic" src="{:$style['pic_url']}">
		<p class="headdesc">{:$style['details']}</p>
		<p class="fixedface">适合脸型：{:$style['fit']}</p>
		<img class="heart" src="__IMG__/style/heart.png">
		<span>{:$style['likes']}</span>
	</section>

	<section class="masterpic">
		<div class="masterbg" style="background-image:url({:$barber['headpic_url']})" alt="masterpic"></div>
		<div class="mastercicle" style="background-image:url({:$barber['headpic_url']})" alt="masterpic"></div>
		<h2>{:$barber['name']}</h2>
	</section>

	<section class="masterdesc">
		<p class="masterdetail">个人简介：{:$barber['details']}</p>
		<p class="goodat">擅长：{:$barber['expert']}</p>
		<p class="masterdetail">店铺位置：{:$barber['position']}</p>
	</section>

	<section class="masterprice">
		<h3>价目表</h3>
		<div class="pricelist">
			<foreach name="books" item="vo" >
			   <span>{$vo['type_name']}：{$vo['cost']}元</span> 
			</foreach>
		</div>
	</section>

	<section class="masterworksshow">
		<h3>作品展示</h3>
		<div class="workscardwrap">
			<div class="inlinecol">
				<for start="0" end="count($styles)" step="2">
					<div class="workscard">
						<img src="{$styles[$i]['pic_url']}">
						<div class="carddetail">
							<div class="headpic" style="background-image:url({:$barber['headpic_url']})" alt="masterpic" ></div>
							<h3>{$styles[$i]['style_name']}</h3>
							<img src="__IMG__/barber/heart.png">
							<span>{$styles[$i]['likes']}</span>
						</div>
					</div>
				</for>				
			</div>
			<div class="inlinecol">
				<if condition="count($styles) egt 2">
					<for start="1" end="count($styles)" step="2">
					<div class="workscard">
						<img src="{$styles[$i]['pic_url']}">
						<div class="carddetail">
							<div class="headpic" style="background-image:url({:$barber['headpic_url']})" alt="masterpic" ></div>
							<h3>{$styles[$i]['style_name']}</h3>
							<img src="__IMG__/barber/heart.png">
							<span>{$styles[$i]['likes']}</span>
						</div>
					</div>
					</for>
				</if>
			</div>
		</div>
	</section>

</body>
</html>
