body{
	margin: 0px;
	background-color: #f8f8f8;
	font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;
	padding-top: 50px;
}

.headbar{
	background-color: #ff6599;
	width: 100%;
	/*height: 30px;*/
	padding-top: 10px;
	padding-bottom: 10px;
	position: fixed;
	top: 0px;
	z-index: 999;
}
.headbar>a{
	color: #fff;
	position: absolute;
	top: 15px;
	left: 30px;
	font-size: 19px;
	text-decoration: none;
	font-weight: normal;
}
.headbar>h3{
	margin: 0px;
	color: #fff;
	font-weight: normal;
	line-height: 30px;
	font-size: 23px;
	text-align: center;
}

.booknow{
	height: 55px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	background-color: #fff;
	z-index: 999;
}
.booknow>p{
	position: absolute;
	top: 21px;
	left: 10px;
	margin: 0px;
	color: #999999;
	font-size: 15px;
}
.booknow #bookbutton{
	display: block;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 95px;
	height: 31px;
	border-radius: 5px;
	border: none;
	background-color: #ff6599;
	color: #fff;
	font-size: 15px;
}



.bookform{
	background-color: #fff;
}
.bookform label,.bookform legend{
	display: none;
}
.bookform input{
	float: left;
	background-color: rgba(0,0,0,0);
	border: 1px solid #bebebe;
	border-radius: 3px;
	display: block;
	height: 40px;
	padding-left: 10px;
	font-size: 10px;
	width: 95%;
	margin-bottom: 5px;
}
.bookform fieldset{
	margin: 0px;
	border: none;
	padding: 10px 20px 20px 20px;
}
.bookform span{
	float: left;
	color: #ff6599;
	display: none;
}
.headkindselect span{
	padding-left: 10px;
	height: 40px;
	line-height: 40px;
}
#headkind{
	float: left;
	border: 1px solid #bebebe;
	border-radius: 3px;
	display: block;
	height: 40px;
	padding-left: 10px;
	font-size: 10px;
	width: 50%;
}
.inputwrap{
	overflow: hidden;
	margin-bottom: 15px;
}
#disableddate{
	color: #c8c8c8;
}


.booknotic p{
	font-size: 15px;
	margin-top: 10px;
	text-align: center;
	color: #a0a0a0;
}


