<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta name="keywords" content="约发">
	<meta name="description" content="约发">
	
	<!-- 浏览器配置 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp"/>
   <title>Bootstrap 实例 - 响应式表格</title>

</head>

<body bgcolor="#33CCFF">
<div style="width:100%; padding-top:20px;" align="center">
<p><font size="16px" color="#FF66CC"><span style="word-spacing:20px;">后台管理系统</span></font></p>
</div>
</body>
</html>
