<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta name="keywords" content="约发">
	<meta name="description" content="约发">
	
	<!-- 浏览器配置 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp"/>
	
   <title>Bootstrap 实例 - 响应式表格</title>
<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css">
<script type="text/javascript" src="__JS__/jquery-2.1.4.js"></script>
<script type="text/javascript" src="__JS__/bootstrap.min.js"></script>

</head>
<frameset rows="150,*" border="2" frameborder="1" framespacing="2"  bordercolor="#0000FF" style="width:50%">
<frame name="top" src="indextop.html">
<frameset cols="15%,85%"  border="2" frameborder="1" framespacing="2">
<frame name="left" src="indexleft.html">
<frame src="banners.html" name="right" scrolling="Auto" >
</frameset>
</frameset><noframes></noframes>
<body bgcolor="#FF9966">
</body>
</html>
