<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta name="keywords" content="约发">
	<meta name="description" content="约发">
	
	<!-- 浏览器配置 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp"/>
	
   <title></title>
<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css">
<script type="text/javascript" src="__JS__/jquery-2.1.4.js"></script>
<script type="text/javascript" src="__JS__/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="__CSS__/globel.css">
<style>
   .image{
   width:150px;
   }
</style>
</head>

<body>
<table class="table table-bordered" id="bigtable">
  <thead>
	  <th width="10%">上传时间</th>
	  <th width="20%">图片</th>
	  <th width="10%">发型师</th>
	  <th width="10%">标签</th>
	  <th width="20%">发型简介</th>
	  <th width="10%">适合脸型</th>
	  <th width="10%">点赞数</th>
	  <th width="10%">操作</th>
  </thead>
  <tbody><tr>
  <form role="form" action="">
  	 <td>2015-6-21  21：54</td>
	 <td><img class="image" src="example.jpg"></td>
	 <td>
	 <div class="form-group">
	 <select onFocus="getmessage()" class="form-control">
	     <option value="阿吉">阿吉</option>
	     </select>
	 </div>
	 </td>
	 <td><div class="form-group">
	 <div class="checkbox">
	 <label><input type="checkbox">时尚短发</label>
	 <label><input type="checkbox">日韩长发</label>
	 </div>
	 </div>
	 </td>
	 <td><div class="form-group">
	 <textarea class="form-control" rows="4" ></textarea>
	 </div>
	 </td>
	 <td><div class="form-group">
	 <textarea class="form-control" rows="4" ></textarea>
	 </div></td>
	 <td><div class="form-group">
	 <input type="text" class="form-control" placeholder="点赞数">
	 </div>
	 </td>
	 <td><button type="button" class="btn btn-primary">提交</button></td>
  </form>
  </tr></tbody>
</table>
<br/></body>
</html>
